<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-lazy-init="false">

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->

	<!-- context:property-placeholder location="classpath:portlet.properties" 
		/ -->

	<!-- #################################################################################### -->
	<!-- ### WI Controller coordinating the Dialog/Page BB with the Business 
		Managers ### -->
	<!-- #################################################################################### -->
	<bean id="wordCountController"
		class="org.salgar.swf_statemachine.techdemo.web.controller.WordCountControllerImpl"
		scope="singleton">
		<property name="wordCountManager" ref="wordCountManager" />
	</bean>

	<!-- ########################################################################## -->
	<!-- ### Backend Manager coordinating with Backend Services and the PWE 
		### -->
	<!-- ########################################################################## -->
	<bean id="wordCountManager"
		class="org.salgar.swf_statemachine.techdemo.manager.WordCountManagerImpl"
		scope="singleton">
		<property name="parallelWorkflowService" ref="parallelWorkflowService" />
	</bean>

	<!-- ########################### -->
	<!-- ### Backend Service ### -->
	<!-- ########################### -->
	<bean id="wordCountService"
		class="org.salgar.swf_statemachine.techdemo.async.workflow.service.WordCountServiceImpl"
		scope="singleton">
		<property name="sleepTimePerWord" value="2000" />
	</bean>

	<!-- ########################### -->
	<!-- ### PWE Simulator ### -->
	<!-- ########################### -->
	<bean id="parallelWorkflowService"
		class="org.salgar.swf_statemachine.techdemo.async.workflow.service.SimpleParallelWorkflowServiceImpl"
		scope="singleton">
		<property name="backendServiceInstance" ref="wordCountService" />
	</bean>

	<!-- ########################################################### -->
	<!-- ### WI Business Domain Object Oriented Managed Bean ### -->
	<!-- ########################################################### -->
	<bean id="textManagedBean"
		class="org.salgar.swf_statemachine.techdemo.web.model.TextManagedBean"
		scope="globalSession" init-method="init" destroy-method="destroy"
		lazy-init="false">
		<property name="textEntryConsumer" ref="textEntryStrategy" />
		<property name="textListConsumer" ref="textListStrategy" />
	</bean>

	<!-- ###################################################### -->
	<!-- ### Business Process Oriented Managed Bean ### -->
	<!-- ###################################################### -->
	<bean id="wordCountManagedBean"
		class="org.salgar.swf_statemachine.techdemo.web.model.WordCountManagedBean"
		scope="globalSession" init-method="init" destroy-method="destroy"
		lazy-init="false">
		<property name="consumer" ref="wordCountStrategy" />
	</bean>

	<bean id="textEntryStrategy"
		class="org.salgar.swf_statemachine.techdemo.web.consumerstrategy.TextEntryConsumerStrategy"
		scope="prototype" />
	<bean id="textListStrategy"
		class="org.salgar.swf_statemachine.techdemo.web.consumerstrategy.TextListConsumerStrategy"
		scope="prototype" />

	<bean id="wordCountStrategy"
		class="org.salgar.swf_statemachine.techdemo.web.consumerstrategy.WordCountConsumerStrategyImpl"
		scope="prototype" />


	<!-- ############################################# -->
	<!-- ### Pages ("RootViews") ### -->
	<!-- ############################################# -->
	<!-- bean id="textEntryPage" class="org.salgar.techdemo.web.page.TextEntryPageBackingBean" 
		scope="flash" init-method="initPage" -->
	<!-- property name="dialogs"> <list> <ref bean="textEntryDialog"/> </list> 
		</property -->
	<!-- property name="pageName" value="textEntryPage" / -->
	<!-- /bean -->

	<!-- ############################################# -->
	<!-- ### Subviews (Dialogs) ### -->
	<!-- ############################################# -->
	<!-- bean id="textEntryDialog" class="org.salgar.techdemo.web.dialog.TextEntryDialogBackingBean" 
		scope="flash" init-method="initDialog" -->
	<!-- property name="wordCountController" ref="wordCountController"/ -->
	<!--property name="textManagedBean" ref="textManagedBean"/ -->
	<!--property name="wordCountManagedBean" ref="wordCountManagedBean"/ -->
	<!-- property name="reusableViewComponents"> <list> <ref bean="textEntryRVC"/> 
		<ref bean="textListRVC"/> <ref bean="textListResultRVC"/> </list> </property -->
	<!-- /bean -->

	<!-- bean id="textConfirmationDialog" class="org.salgar.techdemo.web.dialog.TextConfirmationDialogBackingBean" 
		scope="request" init-method="initDialog"> <property name="wordCountController" 
		ref="wordCountController"/> <property name="wordCountManagedBean" ref="wordCountManagedBean"/> 
		<property name="textManagedBean" ref="textManagedBean"/> <property name="reusableViewComponents"> 
		<list> <ref bean="textListResultRVC"/> </list> </property> </bean -->

	<!-- ############################################# -->
	<!-- ### Reusable View Components (RVCs) ### -->
	<!-- ############################################# -->
	<bean id="textEntryRVC"
		class="org.salgar.swf_statemachine.techdemo.web.component.TextEntryBackingBean"
		scope="flash" />
	<bean id="textListRVC"
		class="org.salgar.swf_statemachine.techdemo.web.component.TextListBackingBean"
		scope="flash" />
	<bean id="textListResultRVC"
		class="org.salgar.swf_statemachine.techdemo.web.component.TextListResultBackingBean"
		scope="flash" />
</beans>