<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="false">

	<bean id="customerSearchInputBB"
		class="org.salgar.swf_statemachine.techdemo.web.customersearch.bb.CustomerSearchInputLayoutBB"
		scope="request">
		<property name="stateMachine"  value="#{stateMachineContainer.customerSearchSM}" />
	</bean>
	<bean id="customerSearchFoundBB"
		class="org.salgar.swf_statemachine.techdemo.web.customersearch.bb.CustomerSearchFoundBB"
		scope="request">
		<property name="stateMachine" value="#{stateMachineContainer.customerSearchSM}" />
	</bean>
	<bean id="customerSearchRunningBB"
		class="org.salgar.swf_statemachine.techdemo.web.customersearch.bb.CustomerSearchRunningBB"
		scope="request">
		<property name="stateMachine" value="#{stateMachineContainer.customerSearchSM}" />
	</bean>
	<bean id="customerSearchAuthenticationBB"
		class="org.salgar.swf_statemachine.techdemo.web.customersearch.bb.CustomerSearchAuthenticationBB"
		scope="request">
		<property name="stateMachine" value="#{stateMachineContainer.customerSearchSM}" />
	</bean>
	<bean id="customerSearchJoinBB"
		class="org.salgar.swf_statemachine.techdemo.web.customersearch.bb.CustomerSearchJoinBB"
		scope="request">
		<property name="stateMachine" value="#{stateMachineContainer.customerSearchSM}" />
	</bean>
	<bean id="customerSearchOrderBB"
		class="org.salgar.swf_statemachine.techdemo.web.customersearch.bb.CustomerSearchOrderBB"
		scope="request">
		<property name="stateMachine" value="#{stateMachineContainer.customerSearchSM}" />
	</bean>
	<bean id="customerSearchBB"
		class="org.salgar.swf_statemachine.techdemo.web.customersearch.bb.CustomerSearchBB"
		scope="request">
		<property name="stateMachine" value="#{stateMachineContainer.customerSearchSM}" />
	</bean>
</beans>